@using System;
@using OrderApp.Models;
@{
//IList<OrderListVm> lisData = (IList<OrderListVm>)ViewData["listdata"];
//var role = ViewData["isAdmin"];
}

<div class="container">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="" style="overflow-x:scroll; ">
                <table id ="gridProduct" class="table table-striped table-bordered" style="font-size:12px">
                    <thead>
                        <tr>
                            <th style="width: 30px; text-align: center">No</th>
                            <th style="width:100px; text-align:center">Product No</th>
                            <th style="width: 150px; text-align: center">Product Name</th>
                            <th style="width: 100px; text-align: center">Price</th>
                            <th style="width: 100px; text-align: center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
            <div>
                @*@Html.Partial("_Pagination")*@

            </div>
        </div>
    </div>
</div>
