<div class="container">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <br />
                        <div class="form-group">
                            <label class="control-label text-muted col-md-3">Product No</label>
                            <input type="text" id="ProductId-search" class="form-control" style="width:180px" />
                        </div>
                        <div class="form-group">
                            <label class="control-label text-muted col-md-3">Product Name</label>
                            <input type="text" id="ProductName-search" class="form-control" style="width:180px" />
                        </div>
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-primary " id="btnSearch" onclick="btnSearch_onClick()" style="width:100px"> Filter</button> &nbsp;&nbsp;
                            <button type="button" class="btn btn-secondary " id="btnClear" onclick="btnClear_onClick()" style="width:80px"> Clear</button> &nbsp;&nbsp;
                            <button type="button" class="btn btn-primary " id="btnNew" onclick="btnAdd_onClick()" style="width:100px"> Add Product</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">

                    </div>
                    <div class="col-2 text-right">
                        <div class="form-group">
                            @*<button type="button" class="btn btn-primary " id="btnNew" onclick="btnAdd_onClick()" style="width:100px"> Add Order</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

