@using System;
@using OrderApp.Models;
@{
    IList<Product> listProducts = (IList<Product>)ViewData["listProducts"];
    IList<Customer> listCustomer = (IList<Customer>)ViewData["listCustomer"];
}

<link href="~/Content/bootstrap 4.5.3/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.5.1/jquery-3.5.1.min.js"></script>
@*<script src="~/Scripts/jquery-3.6.0/jquery-3.6.0.min.js"></script>*@
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Content/bootstrap 4.5.3/js/bootstrap.bundle.js"></script>
<script src="~/Content/bootstrap 4.5.3/js/bootstrap.min.js"></script>

<script src="~/Content/bootstrap 4.5.3/js/bootstrap-datepicker.min.js"></script>
<link href="~/Content/bootstrap 4.5.3/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/popper.min.js"></script>

<style type="text/css">
    .modal-content {
        /* 80% of window height */
        width: 860px !important;
    }

    .modal-body {
        width: 860px !important;
    }
</style>
<div id="ModalOrderEntry" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Entry</h5>

            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-4"> Order Id</label>
                                    <input type="text" id="ordOrderId" class="form-control" style="width:180px" />
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4"> Order Date</label>
                                    <input type="date" id="ordOrderdate" class="form-control" style="width:180px" />
                                    @*<div class="form-group">
                                            <div class="input-group date" data-provide="datepicker">
                                                <input type="text" class="form-control">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <p>Date: <input type="text" id="datepicker"></p>*@
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4"> Required Date</label>
                                    <input type="date" id="ordrequireddate" class="form-control" style="width:180px" />
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4"> Ship Name</label>
                                    <input type="text" id="ordShipname" class="form-control" style="width:180px" />
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-4"> Customer Id</label>
                                    @*<input type="text" id="ordCustomerId-dtl" class="form-control" style="width:180px" readonly/>*@
                                    <select class="form-control chosen-select" id="ordCustomerId" onchange="getCustomer()" style="width:180px">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4"> Company Name</label>
                                    <textarea type="text" id="ordCompanyName" class="form-control" disabled style="width:180px"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4"> Address</label>
                                    <textarea type="text" id="ordAddress" class="form-control" disabled style="width:180px"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4"> City</label>
                                    <input type="text" id="ordCity" class="form-control" disabled style="width:180px" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a href="">Order Detail</a></p>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-primary" id="btnAddItem" onclick="OnAddItem_click()">Add Item</button>
                                <button type="button" class="btn btn-danger" id="btnADeleteItem" onclick="OnDeleteItem_click()">Delete Item</button>
                                <button type="button" class="btn btn-success" id="btnsaveOrderAdd" onclick="OnSave_click('ADD')">Save Order</button>
                                <button type="button" class="btn btn-success" id="btnsaveOrderUpdate" onclick="OnSave_click('UPDATE')">Update Order</button>
                            </div>
                        </div>
                        <br />
                        <div class="">
                            <table id="tblOrderProduct" class="table table-striped table-bordered" style="font-size:12px">
                                <thead>
                                    <tr>

                                        <th style="width:130px;">Product Id</th>
                                        <th style="width:150px;">Product Name</th>
                                        <th style="width:100px;">Unit Price</th>
                                        <th style="width:70px;">Qty</th>
                                        <th style="width:100px;">Sub Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr id="test">
                                            <td colspan="5">No Item Order
                                            </td>
                                        </tr>*@
                                    @*<tr>
                                            <td>
                                                <select class="form-control chosen-select" id="ordProducId0" onchange="GetProduct0()">
                                                    <option value=""></option>

                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" id="ordProducName0" class="form-control " disabled="">
                                            </td>
                                            <td>
                                                <input type="text" id="ordUnitPrice0" class="form-control " disabled="">
                                            </td>
                                            <td>
                                                <input type="text" id="ordQty0" class="form-control" onchange="onCalculatePrice(0)">
                                            </td>
                                            <td>
                                                <input type="text" id="ordSubtotal0" class="form-control">
                                            </td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-secondary" onclick="OnBack_click()">Back</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <label class="col-md-7">Total Price</label>
                                <input id="ordTotalPrice" class="form-control" style="width:150px; text-align:right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>
<div id="ModalDelete" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Entry</h5>

            </div>
            <div class="modal-body">
                <div class="panel panel-default">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var seq = 0;
    var dataProduct = [];
    var optionProduct = "";
    var optionCustomer = "";
    $(document).ready(function () {
       
       getDataProduct();
        
    });

    //function getDataCustomer() {
    //    $.ajax({
    //        url: "/OrderList/GetAllCustomer",
    //        type: "POST",
    //        data: {
    //        },
    //        success: function (data) {
    //            for (var i = 0; i < data.length; i++) {
    //                optionCustomer += '<option value="' + data[i].CustomerId + '">' + data[i].CustomerName + '</option>';
    //            }

    //        },
    //        error: function (data) {
    //            alert("Error :");
    //        }
    //    });


    //    console.log(optionCustomer);
    //}
    function getDataProduct() {
        var productId = '';
        var productName = '';

        return $.ajax({
            url: "/api/products/productall?productid=" + productId + "&productname=" + productName,
            type: "GET",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var obj = new Object();
                    obj.ProductId = data[i].ProductId;
                    obj.ProductName = data[i].ProductName;
                    obj.Price = data[i].Price;
                    dataProduct.push(obj);
                    optionProduct += '<option value=' + dataProduct[i].ProductId + '>' + dataProduct[i].ProductId + '</option>';
                }

            }
        });
    }
    function optionProduct2() {
         for (var i = 0; i < dataProduct.length; i++) {
            $('#ordProducId' + i).append(optionProduct);
        }
    }
    function OnAddItem_click() {

        // $('#tblOrderProduct ').children('tbody').children('tr').val('text').remove()
        var formBodyTable = '<tr>' +
            /*'<td > <input type="text" id="ordProducId'+seq+'" class="form-control"/></td>'+*/
            '<td><select class="form-control chosen-select optionProduct" id="ordProducId' + seq +
            '" onchange="GetProduct(' + seq + ')">' +
           '<option value=""></option>' +
            '</select></td>' +
            '<td> <input type="text" id="ordProducName' + seq + '" class="form-control " disabled  /></td>' +
            '<td> <input type="text" id="ordUnitPrice' + seq + '" class="form-control " disabled/></td>' +
            '<td> <input type="text" id="ordQty' + seq + '" class="form-control"  onchange="onCalculatePrice(' + seq + ')" /></td>' +
            '<td> <input type="text" id="ordSubtotal' + seq + '" class="form-control" disabled /></td>' +
            '</tr>';
        $('#tblOrderProduct tbody').append(formBodyTable);
        

        for (var i = seq; i < dataProduct.length; i++) {
            //$('#ordProducId' + i).find('option').remove().end()
            //$('#ordProducId' + i).append('<option value=""></option>');
            $('#ordProducId' + i).append(optionProduct);
        }
        seq++;
    }
    function GetProduct(seq) {
        var productId = $('#ordProducId' + seq).val();
        return $.ajax({
            url: "/api/products/productbyid?productid=" + productId,
            type: "GET",
            dataType: "Json",
            success: function (data) {
                $('#ordProducName' + seq).val(data[0].ProductName);
                $('#ordUnitPrice' + seq).val(data[0].Price);
            }
        });
    }
    function GetProduct0() {
        var productId = $('#ordProducId0').val();
        return $.ajax({
            url: "/api/products/productbyid?productid=" + productId,
            type: "GET",
            dataType: "Json",
            success: function (data) {
                $('#ordProducName0').val(data[0].ProductName);
                $('#ordUnitPrice0').val(data[0].Price);
            }
        });
    }
    function getCustomer() {
        var cutomerId = $('#ordCustomerId').val();
        return $.ajax({
            //url: "/OrderList/GetCustomerById",
            url: "/api/Customers/Customerbyid?Customerid=" + cutomerId,
            type: "GET",
            dataType: "Json",
            success: function (data) {

                $('#ordCompanyName').val(data[0].CustomerName);
                $('#ordAddress').val(data[0].Address);
                $('#ordCity').val(data[0].City);
            }
        });
    }
    function onCalculatePrice(seq) {
        var price = parseInt($('#ordUnitPrice' + seq).val());
        var qty = parseInt($('#ordQty' + seq).val());
        var subtotal = price * qty;
        $('#ordSubtotal' + seq).val(subtotal);

        var ordTotalPrice = 0;
        var jmlDataTable = $('#tblOrderProduct').children('tbody').children('tr').length;
        for (var i = 0; i < jmlDataTable; i++) {
            var price1 = parseInt($('#ordUnitPrice' + i).val());
            var qty1 = parseInt($('#ordQty' + i).val());
            var total = price1 * qty1;
            ordTotalPrice = ordTotalPrice + total;
            $('#ordTotalPrice').val(ordTotalPrice);
        }


    }

    function OnSave_click(action) {
        
        if (!validate()) {
            return false;
        }
        var params = new Object();
        var data = new Object();
        data.Action = action;
        data.TotalPrice = $('#ordTotalPrice').val();
        //data order header
        data.OrderId = $('#ordOrderId').val();
        data.OrderDate = $('#ordOrderdate').val();
        data.RequiredDate = $('#ordrequireddate').val();
        data.ShipName = $('#ordShipname').val();
        //data customer
        data.CustomerId = $('#ordCustomerId').val();
        data.CustomerName = $('#ordCompanyName').val();
        data.Address = $('#ordAddress').val();
        data.City = $('#ordCity').val();
        data.orderList = [];
        //data order detail
        var jmlDataTable = $('#tblOrderProduct ').children('tbody').children('tr').length;
        for (var i = 0; i < jmlDataTable; i++) {
            var obj = new Object();
            obj.ProductId = $('#ordProducId' + i).val();
            obj.ProductName = $('#ordProducName' + i).val();
            obj.Price = $('#ordUnitPrice' + i).val();
            obj.Qty = $('#ordQty' + i).val();
            obj.SubTotal = $('#ordSubtotal' + i).val();
            data.orderList.push(obj);
        }
        params.data = data;
        $.ajax({
            type: "POST",
            url: "/OrderList/SaveData",
            contentType: 'application/json',
            dataType: 'json',
            traditional: true,
            data: JSON.stringify(params),
            success: function (result) {
                if (result.toLowerCase() == 'success') {
                    alert("add data successfully");
                    $("#ModalOrderEntry").modal('hide');
                }
                else {
                    alert('Error : ' + result);
                }


            },

        });
    }
    function validate() {
        var msg = "";
        if ($('#ordCustomerId').val() == '' || $('#ordCustomerId').val() == null) {

            msg += "\n - Customer Id tidak boleh kosong";
        }
        if ($('#ordOrderdate').val() == '' || $('#ordOrderdate').val() == null) {

            msg += "\n - Order Date tidak boleh kosong";
        }
        var jmlDataTable = $('#tblOrderProduct ').children('tbody').children('tr').length;
        for (var i = 0; i < jmlDataTable; i++) {
            var productId = $('#ordProducId' + i).val();
            var qty = $('#ordQty' + i).val();

            if (productId == '' || productId == null) {
                msg += "\n - Product Id tidak boleh kosong";
            }
            if (qty == '' || qty == null) {
                msg += "\n - Qty tidak boleh kosong";
            }

        }
        if (msg != "") {
            alert(msg);
            return false;
        }
        else {
            return true
        }

    }
    function OnDeleteItem_click() {
        if ($('#tblOrderProduct ').children('tbody').children('tr').length > 0) {
            if (confirm('Are you sure to delete this item data')) {
                // Save it!
                $('#tblOrderProduct ').children('tbody').children('tr').remove();
            }
        }
        else {
            alert('Data not found');
        }
        $('#ordTotalPrice').val('');
    }
</script>

